body {
  background-image: url('../img/tweed.png');
}

h1 {
  font-family: 'bebas';
  font-size: 6em;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'amatic';
  font-size: 4em;
  margin: 0;
  padding: 0;
}

.top {
  margin: 0;
  padding: 0;
  width: 100%;
}

.slash {
  color: #DC3522;
  font-weight: bold;

}

#logoBar {
  width: auto;
  height: 100px;
  background-color: #fff;
}

#logo {
  font-family: 'amatic';
  font-size: 7em;
  color: #D9CB9E;
}

#logo span {
  font-family: 'bebas';
  text-shadow: 0 0 1px #000;
  color: #DC3522;
}

@font-face {
  font-family: 'amatic';
  src: url('../fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue.otf');
}
