body {
  background-image: url('../img/tweed.png');
}

h1 {
  font-family: 'bebas';
  font-size: 5em;
  color: #D9CB9E;
}

h2 {
  font-family: 'league-gothic';
  font-size: 4em;
}

p {
  font-family: 'roboto-thin';
}

input[type=submit] {

}

.slash {
  font-weight: bold;
  color: #DC3522;
}

.intro {
  font-size: 1.4em;
}

.info {
  padding: 40px;
  background-color: rgba(0,0,0,0.4);
  text-align: left;
  border-radius: 2px;
}

.info p {
  color: #FFF;
  font-family: 'roboto-thin';
  font-weight: bold;
  text-align: justify;
}

.info ul, .info li {
  text-align: left;
  font-weight: normal;
}

.btn-knowledge,
.btn-knowledge:hover,
.btn-knowledge:focus {
  color: #FFF;
  text-shadow: none;
  background-color: #DC3522;
  box-shadow: 0px 0px 2px #1E1E20;
  font-family: 'amatic';
  font-size: 3em;
}

.message {
  position: fixed;
  margin: 0;
  padding: 100px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
  text-align: center;
}

.results {
  margin: 0 auto;
  width: 50%;
  top: 50%;
  left: 50%;
  background-color: rgba(217,203,158,0.8);
  border-radius: 2px;
  text-align: center;
}

input[type=submit],
input[type=submit]:hover,
input[type=submit]:focus {
  color: #FFF;
  text-shadow: none;
  background-color: #DC3522;
  box-shadow: 0px 0px 2px #1E1E20;
  padding: 0px 10px;
  margin: 20px;
  border: 0;
  border-radius: 5px;
  font-family: 'amatic';
  font-size: 3em;
}

.letterQ {
  font-family: 'roboto-reg';
  color: #DC3522;
  font-size: 5em;
}

.side {
  background-color: rgba(0,0,0,0.2);
  height: 550px;
}

#logoButtonA {
  padding: 0;
  margin: 0;
  font-family: 'amatic';
  font-size: 1.7em;
  color: #D9CB9E;
}

#logoButtonB {
  padding: 0;
  margin: 0;
  font-family: 'bebas';
  font-size: 1.7em;
  color: #DC3522;
}

#logoBar {
  width: auto;
  height: 100px;
  background-color: #fff;
}

#logo {
  font-family: 'amatic';
  font-size: 7em;
  color: #D9CB9E;
}

#logo span {
  font-family: 'bebas';
  text-shadow: 0 0 1px #000;
  color: #DC3522;
}

#financeBtn {
  background-color: #2A2C2B;
  display: block;
  vertical-align: center;
  line-height: 150px;
  padding:0;
  width: 100%;
  margin: 20px auto;
  font-family: 'bebas';
  height: 150px;
  font-size: 5em;
}

#financeBtn:hover {
  background-color: #DC3522;
  text-decoration: none;
}

#articleList {
  list-style-type: none;
  font-family: 'roboto-thin';
  font-size: 2.5em;
  margin-right: 40px;
}

#articleList a:hover{
  text-decoration: none;
  color: #DC3522;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

@font-face {
  font-family: 'amatic';
  src: url('../fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'league-gothic';
  src: url('../fonts/LeagueGothic-Regular.otf');
}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue.otf');
}

@font-face {
  font-family: 'roboto-thin';
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'roboto-reg';
  src: url('../fonts/Roboto-Regular.ttf');
}

.panel-body {
    color: #333;
}

.form-group {
    text-align: left;
}
