body {
  background-image: url('../img/tweed.png');
  margin: auto;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'bebas';
  font-size: 5em;
  color: #D9CB9E;
}

h2 {
  font-family: 'league-gothic';
  font-size: 4em;
}

p {
  font-family: 'roboto';
}

.slash {
  font-weight: bold;
  color: #DC3522;
}

.head {
  font-size: 1.4em;
  font-family: 'roboto';
}

.info {
  padding: 10px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 2px;
}

.info p {
  color: #FFF;
  text-align: justify;
}

#logoBar {
  width: auto;
  height: 100px;
  background-color: #fff;
}

#logo {
  font-family: 'amatic';
  font-size: 7em;
  color: #D9CB9E;
}

#logo span {
  font-family: 'bebas';
  text-shadow: 0 0 1px #000;
  color: #DC3522;
}

@font-face {
  font-family: 'amatic';
  src: url('../fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'league-gothic';
  src: url('../fonts/LeagueGothic-Regular.otf');
}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue.otf');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

.panel-body {
    color: #333;
}