{% extends "base.html" %}
{% block title %}Borrowing{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Borrowing Funds</h1>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p>
        Borrowing funds can be fun as titz.
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Bank Loans</h2>
      <p>
“In finance, a loan is a debt provided by one entity (organization or individual) to another entity at an interest rate, and evidenced by anote which specifies, among other things, the principal amount, interest rate, and date of repayment. A loan entails the reallocation of the subject asset(s) for a period of time, between thelender and the borrower.”[1] 
      </p>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Subsidized and Unsubsidized Loans</h2>
      <p>
“Subsidized and unsubsidized loans are federal student loans for eligible students to help cover the cost of higher education at a four-year college or university, community college, or trade, career, or technical school. The U.S. Department of Education offers eligible students at participating schools Direct Subsidized Loans and Direct Unsubsidized Loans.”[2] 
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Government Subsidized Loans</h2>
      <p>
In short, Direct Subsidized Loans have slightly better terms to help out students with financial need.
Here’s a quick overview of Direct Subsidized Loans:
<ul>
<li>Direct Subsidized Loans are available to undergraduate students with financial need.</li>
<li>Your school determines the amount you can borrow, and the amount may not exceed your financial need.</li>
<li>The U.S. Department of Education pays the interest on a Direct Subsidized Loan
<ul>
  <li>While you’re in school at least half-time</li>
  <li>For the first six months after you leave school (referred to as a grace period*)</li>
  <li>During a period of deferment (a postponement of loan payments).[2]</li>
</ul>
</li>
</ul>
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Government Unsubsidized Loans</h2>
      <p>
Here’s a quick overview of Direct Unsubsidized Loans:
<ul>
<li>Direct Unsubsidized Loans are available to undergraduate and graduate students; there is no requirement to demonstrate financial need.</li>
<li>Your school determines the amount you can borrow based on your cost of attendance and other financial aid you receive.</li>
<li>You are responsible for paying the interest on a Direct Unsubsidized Loan during all periods. </li>
<li>If you choose not to pay the interest while you are in school and during grace periods and deferment or forbearanceperiods, your interest will accrue (accumulate) and be capitalized (that is, your interest will be added to the principal amount of your loan).</li>
</ul>
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Loan Sharks</h2>
      <p>
"A loan shark is a person or body who offers loans at extremely high interest rates.[1][2] The term usually refers to illegal activity, but may also refer to predatory lending with extremely high interest rates such as payday or title loans.[2][3][4][5][6][7][8] Loan sharks sometimes enforce repayment by blackmail or threats of violence. Historically, many moneylendersskirted between legal and extra-legal activity. In the recent western world, loan sharks have been a feature of the criminal underworld."[3]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Borrowing from a Friend</h2>
      <p>
"Loans between individuals are made all the time for various reasons -- whether to consolidate debt, start an emu farm or to add an observatory to the back of your home. They can be a great investment for the lender and a good deal for the borrower, provided the loan is paid back promptly and that meticulous care is taken to preserve the relationship.
</p>
<br>
<p>
Otherwise, it's just not a good idea and should be avoided at all costs. In other words, borrowing money from people you know can be a great idea or it can be fraught with more danger than playing hopscotch in a minefield.
</p>
<br>
<p>
The upside is that if you do ask for a loan and friends and relatives turn you down flat, you can always ask a complete stranger for money through a peer-to-peer lending network."[4]
      </p>
    </div>
  </div>
  <br><br>
<div class="row-fluid">
    <div class="col-md-12, intro">
      <p style="font-size:1.5em;">
        Make Sense?
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-lg btn-knowledge">Test My Knowledge</a>
  <br><br>

  <div class="row-fluid">
    <div class="col-md-12, info">
      <p>
<a href>[1]http://en.wikipedia.org/wiki/Loan</a><br>
<a href>[2]https://studentaid.ed.gov/types/loans/subsidized-unsubsidized</a><br>
<a href>[3]http://en.wikipedia.org/wiki/Loan_shark</a><br>
<a href>[4]http://www.bankrate.com/finance/financial-literacy/borrowing-from-friends-family-risky-business-1.aspx</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
