{% extends "base.html" %}
{% block title %}Budgeting{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Budgeting</h1>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p>
 budget is a quantitative expression of a plan for a defined period of time. It may include planned sales volumes and revenues, resource quantities, costs and expenses, assets, liabilities and cash flows. It expresses strategic plans of business units, organizations, activities or events in measurable terms[1]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Importance of Budgeting</h2>
      <p>
Planning and monitoring your budget will help you identify wasteful expenditures, adapt quickly as your financial situation changes, and achieve your financial goals.  When you actually see the breakdown of your expenses, you may be surprised by what you find; this process is essential to fully grasping how things can add up.  Creating a budget will decrease your stress levelsbecause, with a budget, there are no surprises.[2]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Start Early</h2>
      <p>
Save early. By now you’ve probably heard that thousands of times.  If you start now, you can be a millionaire in no time with the power of compound interest.  Well, sort of.  It’s not quite that easy, but the theory is right.
<br><br>
Who doesn’t want to be rich? If you start saving money right now, you have a better shot of reaching that goal. In fact, if you start saving at age 18, by saving around $2.56 per day or about $79 per month (assuming 10% savings rate), you could be a millionaire by the time you’re 65! Can you cut $2.56 a day? Maybe you can eliminate trips to the vending machine, that fancy coffee drink, or eating out once a day.
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p style="font-size:1.5em;">
        Make Sense?
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-lg btn-knowledge">Test My Knowledge</a>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <p>
        <a href="[1]http://en.wikipedia.org/wiki/Budget">[1]http://en.wikipedia.org/wiki/Budget</a><br>
        <a href="http://www.personalfinance.duke.edu/manage-your-finances/budget/overview">[2]http://www.personalfinance.duke.edu/manage-your-finances/budget/overview</a><br>
        <a href="http://www.respectyourmoney.com/Working/Articles-and-Resources/EarlySaving.aspx">[3]http://www.respectyourmoney.com/Working/Articles-and-Resources/EarlySaving.aspx</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
