{% extends "base.html" %}
{% block title %}Expenditures{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Common Expenditures</h1>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Buying Your First Car</h2>
      <p>
“Decide what you really need.  Those extras like navigation, leather seats really add up.  Look at the basics:  You need to purchase the car, get insurance, pay for gas and then maintain it.  I’m just going to cover the basics and then refer you to the experts.  First make a budget and do your research.”
</p>
<br><br>
<p>
“As a teen it’s more difficult to buy a car, since you don’t have an established credit history and will have difficulty finding someone to lend us the money without a credit history.  If you’re paying for the car, or part of it, be realistic about where you will get the money each month and how much you really can afford.  Once you come up with a figure, save an additional 10-15% for inflation, increases in gas or car insurance and unexpected events.  Worse comes to worst, you will have extra money available to spend, or pay off the car early.”
</p>
<br><br>
<p>
“If you can’t afford to put down at least 20% on the car, you’ll probably end up owing more on it than it’s worth.  If you can’t afford to put down 20%, DON’T BUY IT!  If you can’t pay off the car in 48 months, DON’T BUY IT!  Instead, buy a less expensive vehicle that you CAN afford.  Remember—the purchase of the car is only the beginning of your expense items.”  [1]
      </p>
    </div>
  </div>
  <br><br>
<div class="row-fluid">
    <div class="col-md-12, intro">
      <p style="font-size:1.5em;">
        Make Sense?
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-lg btn-knowledge">Test My Knowledge</a>
  <br><br>

  <div class="row-fluid">
    <div class="col-md-12, info">
      <p>
<a href>[1] http://www.teensguidetomoney.com/spending/first-time-car-buying-tips-for-teens/</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
