{% extends "base.html" %}
{% block title %}Income{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Income</h1>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p>
Income is the consumption and savings opportunity gained by an entity within a specified timeframe, which is generally expressed in monetary terms.[1]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Taxable vs Non-Taxable Income</h2>
      <p>
Taxable income refers to the base upon which an income tax system imposes tax. Generally, it includes some or all items of income and is reduced by expenses and other deductions. The amounts included as income, expenses, and other deductions vary by country or system. Many systems provide that some types of income are not taxable and some expenditures not deductible in computing tax. Some systems base tax on taxable income of the current period, and some on prior periods. Taxable income may refer to the income of any taxpayer, including individuals and corporations, as well as entities that themselves do not pay tax, such as partnerships.[2]
      </p>
      <br><br>
      <p>
Taxable:
<ul>
<li>wages, salaries, tips, bonuses, vacation pay, severance pay, commissions</li>
<li>interest and dividends</li>
<li>certain types of disability payments</li>
<li>unemployment compensation</li>
<li>jury pay and election worker pay</li>
<li>strike and lockout benefits</li>
</ul>

Non taxable:
<ul>
<li>gifts and most inheritances</li>
<li>life insurance proceeds</li>
<li>child support</li>
<li>certain veteran’s benefits</li>
<li>dividends on veteran’s life insurance loans</li>
</ul>
      </p>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="col-md-12 info">
      <h2>Withholdings</h2>
      <p>
A withholding tax, also called aretention tax, is a government requirement for the payer of an item of income to withhold or deduct tax from the payment, and pay that tax to the government. In most jurisdictions, withholding tax applies to employmentincome. Many jurisdictions also require withholding tax on payments of interestor dividends. In most jurisdictions, there are additional withholding tax obligations if the recipient of the income is resident in a different jurisdiction, and in those circumstances withholding tax sometimes applies to royalties, rent or even the sale of real estate. [4]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p style="font-size:1.5em;">
        Make Sense?
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-lg btn-knowledge">Test My Knowledge</a>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <p>
        <a href="http://en.wikipedia.org/wiki/Income#cite_note-Barr-1">[1] http://en.wikipedia.org/wiki/Income#cite_note-Barr-1</a><br>
        <a href>[2] http://en.wikipedia.org/wiki/Taxable_income#cite_note-1</a><br>
        <a href>[3] http://www.libertytax.com/tax-resources/general-tax-information/taxable-nontaxable-income/</a><br>
        <a href>[4] http://en.wikipedia.org/wiki/Withholding_tax</a><br>
      </p>
    </div>
  </div>
</div>
{% endblock %}
