{% extends "base.html" %}
{% block title %}Retirement{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Plastic Money</h1>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p>
Plastic money refers to money as represented by credit, charge, and debit cards. Credit, charge, and debits cards can be used at most point of sale locations and in online purchases. Although theses two types of cards are used in a similar fashion to make purchases, the money they represent of vastly different. Be careful when using plastic money, it tends to be easier to make excessive purchases when the physical money being spent cannot be seen.
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Credit Cards</h2>
      <p>
"A credit card is a payment card issued to users as a system of payment. It allows the cardholder to pay for goods and services based on the holder's promise to pay for them.[1] The issuer of the card creates a revolving account and grants a line of credit to the consumer (or the user) from which the user can borrow money for payment to a merchant or as a cash advance to the user.”[1]
      </p>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Debit Cards</h2>
      <p>
“A debit card (also known as a bank card or check card) is a plastic payment card that provides the cardholder electronic access to his or her bank account(s) at a financial institution. Some cards may bear a stored value with which a payment is made, while most relay a message to the cardholder's bank to withdraw funds from a payer's designated bank account. The card, where accepted, can be used instead of cash when making purchases. In some cases, the primary account number is assigned exclusively for use on the Internet and there is no physical card.”[2]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>Charge Cards</h2>
      <p>
“A credit card is different from a charge card: a charge card requires the balance to be paid in full each month. In contrast, credit cards allow the consumers a continuing balance of debt, subject to interest being charged. A credit card also differs from a cash card, which can be used like currency by the owner of the card. A credit card differs from a charge card also in that a credit card typically involves a third-party entity that pays the seller and is reimbursed by the buyer, whereas a charge card simply defers payment by the buyer until a later date.”[1]
      </p>
    </div>
  </div>
  <br><br>
<div class="row-fluid">
    <div class="col-md-12, intro">
      <p style="font-size:1.5em;">
        Make Sense?
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-lg btn-knowledge">Test My Knowledge</a>
  <br><br>

  <div class="row-fluid">
    <div class="col-md-12, info">
      <p>
        <a href>[1] http://en.wikipedia.org/wiki/Credit_card </a>
        <a href>[2] http://en.wikipedia.org/wiki/Debit_card </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
