{% extends "base.html" %}
{% block title %}Retirement{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Retirement Funds</h1>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p>
        Saving up for retirement is important. There are a lot of ways to save up and it’s important to know the difference between them. You’re probably thinking “I’ll just put aside some money every year”. There are some problems with this though: it’s easy to spend that money and it’s taxable. There’s an alternative though: an IRA or a 401(k).
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <h2>401(k)</h2>
      <p>
  “A 401k retirement plan is a special type of account funded through pre-tax payroll deductions. The funds in the account can be invested in a number of different stocks , bonds , mutual funds or other assets, and are not taxed on any capital gains , dividends , or interest until they are withdrawn.”
  <br><br>
  “The primary benefit of a 401k retirement plan is the favorable tax treatment it receives from Uncle Sam. Dividend, interest, and capital gains are not taxed until they are disbursed; in the mean time, they can compound tax-deferred inside the account. In the case of a young worker with three or four decades ahead of them, this can mean can mean the difference between living at the Plaza Hotel or the Budget 8.”
  <br><br>
  “Many employers, in an effort to attract and retain talent, offer to match a certain percentage of the employee’s contribution. According to Starbucks’ “Total Pay Package” brochure, for example, the company will match a percentage of the first 4% of pay the employee contributes to their 401(k) retirement plan. Employees at the company for less than 36 months receive a 25% match; 36 to 60 months receive a 50% match; 60 to 120 months receive a 75% match; 120 or more months receive a 150% match.
  In other words, an employee working at the coffee giant for over ten years earning $100,000 that contributed $4,000 to their 401(k) would receive a $6,000 deposit in the account directly from the company (150% match on $4,000 contribution.) Anything the employee deposited above the 4% threshold would not receive a match.” [2]
  <br><br>
      </p>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="col-md-12 info">
      <h2>IRA</h2>
      <p>
  “IRA stands for Individual Retirement Account, and it's basically a savings account with big tax breaks, making it an ideal way to sock away cash for your retirement. A lot of people mistakenly think an IRA itself is an investment - but it's just the basket in which you keep stocks, bonds, mutual funds and other assets.”
  <br><br>
  “Unlike 401(k)s, which are accounts provided by your company, the most common types of IRAs are accounts that you open on your own. Others can be opened by self-employed individuals and small business owners. There are several different types of IRAs, including traditional IRAs, Roth IRAs, SEP IRAs, and SIMPLE IRAs.”
  <br><br>
  “Unfortunately, not everyone gets to take advantage of them. Each has eligibility restrictions based on your income or employment status. And all have caps on how much you can contribute each year and penalties if you yank out your money before the designated retirement age.” [1]
      </p>
    </div>
  </div>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, intro">
      <p style="font-size:1.5em;">
        Make Sense?
      </p>
    </div>
  </div>
  <a href="/questions/retirement" class="btn btn-lg btn-knowledge">Test My Knowledge</a>
  <br><br>
  <div class="row-fluid">
    <div class="col-md-12, info">
      <p>
        <a href>[1] http://money.cnn.com/retirement/guide/IRA_Basics.moneymag/</a><br>
        <a href>[1] http://beginnersinvest.about.com/od/401k/a/aa122104a.htm</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
