{% extends "base.html" %}
{% block title %}Financial Planning Tool{% endblock %}

{% block body %}
  <h1>Bank Transaction Analysis</h1><br>
  <div id="pie"></div>

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#pie').highcharts({
        colors: ['#DC3522','#2A2C2B','#D9CB9E','#1E1E20','#DC3522','#374140'],
        chart: {
          backgroundColor: 'rgba(0,0,0,0.3)',
          type: 'pie'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: '#fff'
              }
            }
          }
        },
        tooltip: {
          pointFormat: '<b>{point.percentage:.1f}%</b>'
        },
        credits: {
          enabled: false
        },
        series: [{
          data: {{ pie|safe }}
        }]
      });
    });
  </script>
{% endblock %}
