{% extends "base.html" %}
{% block title %}Financial Planning Tool{% endblock %}

{% block body %}
  <h1>Daily Goals</h1>
  <form role="form" action="goals" method="POST">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Spending Limit Goals</h3>
      </div>
      <div class="panel-body">
      <p>The goals you set here reflect the maximum you want to spend each day on these items. Leave blank to set no goal.</p>

      <div class="row">
        <div class="col-md-2">
          <label for="clothing">Clothing</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="clothing" name="clothing" value="{{ goals['clothing']|default('') }}">
            <span class="input-group-addon">.00</span>
          </div>
        </div>

        <div class="col-md-2">
          <label for="gas">Gas</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="gas" name="gas" value="{{ goals['gas']|default('') }}">
            <span class="input-group-addon">.00</span>
          </div>
        </div>

        <div class="col-md-2">
          <label for="school">School</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="school" name="school" value="{{ goals['school']|default('') }}">
            <span class="input-group-addon">.00</span>
          </div>
        </div>

        <div class="col-md-2">
          <label for="essentials">Essentials</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="essentials" name="essentials" value="{{ goals['essentials']|default('') }}">
            <span class="input-group-addon">.00</span>
          </div>
        </div>

        <div class="col-md-2">
          <label for="snacks">Snacks</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="snacks" name="snacks" value="{{ goals['snacks']|default('') }}">
            <span class="input-group-addon">.00</span>
          </div>
        </div>

        <div class="col-md-2">
          <label for="recreation">Recreation</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" id="recreation" name="recreation" value="{{ goals['recreation']|default('') }}">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Saving Goals</h3>
      </div>
      <div class="panel-body">
        <p>Description here</p>

        <div class="row">
          <div class="col-md-2">
            <label for="car">Car</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" id="car" name="car" value="{{ goals['car']|default('') }}">
              <span class="input-group-addon">.00</span>
            </div>
          </div>

          <div class="col-md-2">
            <label for="college">College</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" id="college" name="college" value="{{ goals['college']|default('') }}">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Save</button>
  </form>
{% endblock %}
