{% extends "base.html" %}
{% block title %}Financial Planning Tool{% endblock %}

{% block body %}
  <h1>Statistics</h1><br>
  <div id="chartContainer"></div>
  <br><br>
  <div id="pie"></div>

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#chartContainer').highcharts({
        plotOptions: {
          series: {
            style: {
              color: '#fff'
            }
          }
        },
        legend: {
            itemStyle: {
                color: '#fff',
                fontWeight: 'bold',
            }
        },
        colors: ['#DC3522','#D9CB9E'],
        chart: {
          backgroundColor: 'rgba(0,0,0,0.3)',
          type: 'line',
          style: {
              fontFamily: 'roboto-reg',
              color: "#fff"
          }
        },
        title: {
          style: {
            color: '#fff'
          },
          text: 'Spending/Saving Trends'
        },
        credits: {
          enabled: false
        },
        xAxis: {
          lineWidth: 0,
          minorGridLineWidth: 0,
          lineColor: 'transparent',
          labels: {
            enabled: false
          },
          title: {
            style: {
              color: '#fff'
            }
          },
          minorTickLength: 0,
          tickLength: 0
        },
        yAxis: {
          title: {
            style: {
                color: '#fff',
                fontSize: '1.4em'
            }
          },
          labels: {
            style: {
                color: '#fff',
            }
          }
        },
        series: [{
          name: 'Saving',
          data: {{ saving_series }}
        }, {
          name: 'Spending',
          data: {{ spending_series }}
        }]
      });

      $('#pie').highcharts({
        colors: ['#2A2C2B','#D9CB9E','#1E1E20','#DC3522','#374140'],
        chart: {
          backgroundColor: 'rgba(0,0,0,0.3)',
          type: 'pie'
        },
        plotOptions: {
          line: {
            color: '#fff'
          },
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: '#fff'
              }
            }
          }
        },
        title: {
          style: {
            color: '#fff'
          },
          text: 'Where your money is going'
        },
        tooltip: {
          pointFormat: '<b>{point.percentage:.1f}%</b>'
        },
        credits: {
          enabled: false
        },
        series: [{
          data: {{ pie|safe }}
        }]
      });
    });
  </script>
{% endblock %}
