{% extends "base.html" %}
{% block title %}about-us{% endblock %}

{% block body %}
 <!-- <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
-->
  <!--      <div class="inner cover">
     -->       <h1 class="cover-heading" id="logo">About <span>Us</span></h1>
            <img src="{{ url_for('static', filename='img/about.jpg') }}" alt="Cool Catz">
	    <br><br>
      <p class="lead">
              Hello and welcome to our site!<br>
	    </p>
	    <p>
              Stuff stuff stuff stuff stuff stuff stuff<br>
              More stuff more stuff more stuff <br>
              Holy shit so much stuff
            </p>
   <!--     </div>
     </div>
    </div>
  </div> -->
{% endblock %}
