{% extends "base.html" %}
{% block title %}about-us{% endblock %}

{% block body %}
 <!-- <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
-->
  <!--      <div class="inner cover">
     -->       <h1 class="cover-heading" id="logo">About <span>Us</span></h1>
	    <br><br>
      <p class="lead">
              Hello and welcome to our site!<br>
	    </p>
	    <p>
        We have worked hard on this site and hope<br>
        you enjoy the product we have created.
      </p>
   <!--     </div>
     </div>
    </div>
  </div> -->
{% endblock %}
