{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block body %}
 <div class="container">
   <h1 class="cover-heading" id="logo">Finance <span>Hero</span></h1>
   <br><br>

   <div class="row-fluid">
     <div class="col-md-6">
       <ul>
         <li><a href="/article/retirement">Retirement Funds</a></li>

         <li><a href="/article/plastic">Plastic Money</a></li>

         <li><a href="/article/borrowing">Borrowing Funds</a></li>

         <li><a href="/article/expenditures">Common Expenditures</a></li>

         <li><a href="/article/income">Income</a></li>

         <li><a href="/article/budgeting">Budgeting</a></li>

       </ul>
     </div>
     
     <div class="col-md-6">

     </div>
     
   </div>
 </div>

{% endblock %}
