{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block body %}
 <div class="container">

   <div class="row-fluif">
     <div class="col-md-12" id="financeBtn">
         <a href="/tool/main">
           Financial Manager
         </a>
     </div>
   </div>
   
   <div class="row-fluid">
     <div class="col-md-6">
       <ul id="articleList">
         <li><a href="/article/retirement">Retirement Funds</a></li>

         <li><a href="/article/plastic">Plastic Money</a></li>

         <li><a href="/article/borrowing">Borrowing Funds</a></li>

         <li><a href="/article/expenditures">Common Expenditures</a></li>

         <li><a href="/article/income">Income</a></li>

         <li><a href="/article/budgeting">Budgeting</a></li>

       </ul>
     </div>
     
     <div class="col-md-6">

     </div>
     
   </div>
 </div>

{% endblock %}
