{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<h1>Login</h1>

{% if err %}
  <p>Incorrect Login Credentials. Please Try Again.</p>
{% endif %}

<form role="form" action="login" method="post">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
      </div>
    </div>
  </div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
