{% extends "base.html" %}
{% block title %}Question{% endblock %}

{% block body %}
<div class="container">
  <h1><span class="slash">//</span> Knowledge Test</h1>
  <div class="row-fluid">
    <div class="col-md-12 intro">
      <p>
        How well do you understand the concepts?
      </p>
    </div>
    <form method="POST">
    {% for question in questions %}
        <div class="row-fluid">
          <div class="col-md-12 info">
            <div class="col-md-2 letterQ">
              Q:
            </div>
            <div class="col-md-10 intro">
              <br>
              <p>
                {{ question.text }}
              </p>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-md-12 info">
            <div class="col-md-2 letterQ">
              A:
            </div>
            <div class="col-md-10 intro">
              <p>
              {% for choice in question.choices %}
                <input type="radio" name="{{ question._id }}" value="{{ choice.correct }}">{{ choice.text }}<br>
              {% endfor %}
              </p>
              <hr>
            </div>
          </div>
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-lf btn-knowledge" value="Submit">
    </form>
  </div>
</div>
{% if controller_return %}
<div class="message">
  <div class="results">
    {% if success %}
    <div class="info" style="text-align:center">
      Congrats on a perfect score!<br>Press Continue to go Home.<br><br>
      <a href="/home" class="btn btn-lg btn-knowledge">Continue</a>
    </div>
    {% else %}
    <div class="info" style="text-align:center;">
      You got {{ num_correct }} out of 3 correct.  Give it another go!<br><br>
      <a href="javascript:history.back()" class="btn btn-lg btn-knowledge">Try Again</a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
