{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block body %}
<h1>Register an account</h1>

{% if err %}
  <p>Username already taken. Please Try Again.</p>
{% endif %}

<form role="form" action="register" method="post">
  <div class="form-group">
    <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
  </div>

<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
